In [1]:
import numpy as np
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('data/converted_train_2020_06_03_16-14-12.csv',parse_dates=['Flight_Date','Request_Date'])

In [3]:
data

,Unnamed: 0,Request_Date,Flight_Date,Duration_Time,Departure_hour,flight_unique_id,route_abb,flight_number,Price,Currency,min_future_price,price_in_eur,min_future_price_in_eur,Request_Weekday,Request_AM_PM
0,0,2019-06-03 11:00:00,2019-06-05 19:00:00,56.0,19,2019-06-05 FR 146,SXF-STN,FR 146,208.07,€,259.07,208.070000,259.070000,Monday,AM
1,1,2019-06-03 23:00:00,2019-06-05 19:00:00,44.0,19,2019-06-05 FR 146,SXF-STN,FR 146,259.07,€,259.07,259.070000,259.070000,Monday,PM
2,2,2019-06-04 11:00:00,2019-06-05 19:00:00,32.0,19,2019-06-05 FR 146,SXF-STN,FR 146,259.07,€,259.07,259.070000,259.070000,Tuesday,AM
3,3,2019-06-03 11:00:00,2019-06-05 21:00:00,58.0,21,2019-06-05 FR 147,STN-SXF,FR 147,127.49,£,223.37,106.466899,186.536287,Monday,AM
4,4,2019-06-03 23:00:00,2019-06-05 21:00:00,46.0,21,2019-06-05 FR 147,STN-SXF,FR 147,223.37,£,223.37,186.536287,186.536287,Monday,PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83006,83006,2019-07-25 23:00:00,2019-09-10 10:00:00,1115.0,10,2019-09-10 FR 8543,SXF-STN,FR 8543,12.99,€,12.99,12.990000,12.990000,Thursday,PM
83007,83007,2019-07-26 11:00:00,2019-09-10 10:00:00,1103.0,10,2019-09-10 FR 8543,SXF-STN,FR 8543,12.99,€,12.99,12.990000,12.990000,Friday,AM
83008,83008,2019-07-26 23:00:00,2019-09-10 10:00:00,1091.0,10,2019-09-10 FR 8543,SXF-STN,FR 8543,12.99,€,12.99,12.990000,12.990000,Friday,PM
83009,83009,2019-07-27 11:00:00,2019-09-10 10:00:00,1079.0,10,2019-09-10 FR 8543,SXF-STN,FR 8543,12.99,€,12.99,12.990000,12.990000,Saturday,AM
83010,83010,2019-07-27 23:00:00,2019-09-10 10:00:00,1067.0,10,2019-09-10 FR 8543,SXF-STN,FR 8543,12.99,€,12.99,12.990000,12.990000,Saturday,PM