In [6]:
import pandas as pd
from currency_converter import CurrencyConverter

# Descriptive Analysis

In [13]:
data = pd.read_csv('./data/test.csv')
data

,Request_Date,Flight_Date,Departure_hour,flight_unique_id,route_abb,flight_number,Price,Currency
0,2019-07-28T11:00:00Z,2019-07-29,18,2019-07-29 FR 146,SXF-STN,FR 146,73.43,€
1,2019-07-28T11:00:00Z,2019-07-29,22,2019-07-29 FR 8545,SXF-STN,FR 8545,180.53,€
2,2019-07-28T11:00:00Z,2019-07-30,6,2019-07-30 FR 144,SXF-STN,FR 144,61.19,€
3,2019-07-28T23:00:00Z,2019-07-30,6,2019-07-30 FR 144,SXF-STN,FR 144,73.43,€
4,2019-07-28T11:00:00Z,2019-07-30,10,2019-07-30 FR 8543,SXF-STN,FR 8543,180.53,€
...,...,...,...,...,...,...,...,...
5119,2019-07-31T23:00:00Z,2019-09-10,10,2019-09-10 FR 8543,SXF-STN,FR 8543,35.69,€
5120,2019-08-01T11:00:00Z,2019-09-10,10,2019-09-10 FR 8543,SXF-STN,FR 8543,35.69,€
5121,2019-08-01T23:00:00Z,2019-09-10,10,2019-09-10 FR 8543,SXF-STN,FR 8543,46.83,€
5122,2019-08-02T11:00:00Z,2019-09-10,10,2019-09-10 FR 8543,SXF-STN,FR 8543,46.83,€
5123,2019-08-02T23:00:00Z,2019-09-10,10,2019-09-10 FR 8543,SXF-STN,FR 8543,39.69,€

In [18]:
# Compute pound values to eur (currency_in_eur)
c = CurrencyConverter()
def convert_to_eur(row):
    if row['Currency'] == '£':
        return c.convert(row['Price'], 'EUR', 'GBP')
    return row['Price']

data['currency_in_eur'] = data.apply(convert_to_eur, axis=1)

In [26]:
# Analysis of currency_in_eur column
data['currency_in_eur'].describe()

count    5124.000000
mean       79.245475
std        53.186898
min        10.847949
25%        36.619135
50%        67.920000
75%       109.022305
max       311.090000
Name: currency_in_eur, dtype: float64

In [25]:
# Analysis of currency_in_eur column per route_abb
print(data.groupby(['route_abb']).mean())
print(data.groupby(['route_abb']).std())

           Departure_hour       Price  currency_in_eur
route_abb
FRA-STN         12.326157   87.825662        87.825662
STN-FRA         13.353726   74.317542        62.062579
STN-SXF         12.521411   73.676108        61.526918
SXF-STN         13.627049  100.096470       100.096470
           Departure_hour      Price  currency_in_eur
route_abb
FRA-STN          5.730493  49.575164        49.575164
STN-FRA          5.729570  48.292569        40.329124
STN-SXF          6.326960  61.169590        51.082725
SXF-STN          6.418770  54.309084        54.309084

In [27]:
# Analysis of currency_in_eur column per date
print(data.groupby(['Flight_Date']).mean())
print(data.groupby(['Flight_Date']).std())

             Departure_hour       Price  currency_in_eur
Flight_Date
2019-07-29        20.000000  126.980000       126.980000
2019-07-30        15.200000  110.762000       110.762000
2019-07-31        16.400000  100.766000       100.766000
2019-08-01        14.619048  102.135714        98.443564
2019-08-02        13.916667  154.289286       141.615052
2019-08-03        13.263889  134.954722       127.383980
2019-08-04        11.600000  158.831176       146.848262
2019-08-05        13.415385  152.325385       138.507348
2019-08-06        13.051095  121.650219       110.060517
2019-08-07        14.327434  108.364867        98.314738
2019-08-08        13.264286  112.888500       101.071848
2019-08-09        13.352113  139.828873       125.875198
2019-08-10        12.000000  115.976500       105.214796
2019-08-11        11.800000  123.039750       113.062682
2019-08-12        13.083333  107.355972        97.880452
2019-08-13        13.083333   82.766250        75.480487
2019-08-14        14.600000   91.046500        84.193256
2019-08-15        13.250000   76.515278        69.939226
2019-08-16        13.250000   95.906250        87.224883
2019-08-17        12.000000   77.564250        70.801412
2019-08-18        11.800000  112.406417       104.313358
2019-08-19        13.083333   87.437500        82.131911
2019-08-20        13.083333   58.613750        55.574712
2019-08-21        14.600000   62.870833        59.466583
2019-08-22        13.264286   70.504643        66.301978
2019-08-23        13.250000   94.284167        86.950308
2019-08-24        12.000000   76.909417        71.413355
2019-08-25        11.800000   91.096083        86.821573
2019-08-26        13.083333  108.687014       105.995857
2019-08-27        13.102941   70.795074        68.687118
2019-08-28        14.600000   57.862083        55.921513
2019-08-29        13.250000   57.348750        55.638371
2019-08-30        13.260563   59.987113        57.883349
2019-08-31        12.000000   67.083000        65.004106
2019-09-01        11.829060  104.108974        99.927294
2019-09-02        13.098592   74.015000        71.641311
2019-09-03        13.083333   49.304931        47.525820
2019-09-04        14.572650   32.673248        31.171418
2019-09-05        13.250000   34.951389        32.469117
2019-09-06        13.250000   48.763750        44.167025
2019-09-07        12.000000   37.166083        33.955741
2019-09-08        11.800000   59.865917        56.186709
2019-09-09        13.084507   43.037465        40.592973
2019-09-10         7.250000   28.808333        27.002266
             Departure_hour      Price  currency_in_eur
Flight_Date
2019-07-29         2.828427  75.731136        75.731136
2019-07-30         6.545567  57.401023        57.401023
2019-07-31         6.663332  80.357617        80.357617
2019-08-01         6.028195  69.658105        65.478249
2019-08-02         6.046423  83.476687        78.191906
2019-08-03         6.487242  65.334016        63.202733
2019-08-04         5.533878  40.554002        37.649554
2019-08-05         6.255273  61.636826        54.049128
2019-08-06         6.265359  53.325084        44.807210
2019-08-07         6.434342  63.905374        58.827159
2019-08-08         6.086441  58.247288        48.888694
2019-08-09         6.073074  53.806328        45.192972
2019-08-10         6.319238  53.033639        49.397018
2019-08-11         5.605519  47.282294        46.097626
2019-08-12         6.259538  35.401211        30.777387
2019-08-13         6.259538  37.460610        35.751904
2019-08-14         6.338359  41.945277        42.167997
2019-08-15         6.091953  26.057782        23.454845
2019-08-16         6.091953  44.913003        39.880309
2019-08-17         6.319238  22.831434        19.740329
2019-08-18         5.605519  47.861759        47.687250
2019-08-19         6.259538  36.666845        39.055858
2019-08-20         6.259538  32.029492        33.595631
2019-08-21         6.338359  28.126198        30.417337
2019-08-22         6.086441  30.787900        32.286576
2019-08-23         6.091953  28.794265        28.868418
2019-08-24         6.319238  25.185862        26.878359
2019-08-25         5.605519  56.345112        57.954818
2019-08-26         6.259538  85.089383        87.342986
2019-08-27         6.258954  49.800720        51.514950
2019-08-28         6.338359  44.358139        45.800956
2019-08-29         6.091953  44.124027        45.538166
2019-08-30         6.099273  38.169908        40.011772
2019-08-31         6.319238  54.099409        55.638153
2019-09-01         5.594472  70.435275        72.502474
2019-09-02         6.261794  56.007406        57.883383
2019-09-03         6.259538  34.467169        35.794427
2019-09-04         6.319532  17.552680        18.671616
2019-09-05         6.091953   9.563172        10.695820
2019-09-06         6.091953  15.766509        12.787228
2019-09-07         6.319238   8.261833         7.690542
2019-09-08         5.605519  41.863407        42.388099
2019-09-09         6.263134  21.961626        23.390462
2019-09-10         1.656708  10.828860        11.683008