In [22]:
import pandas as pd

# Descriptive Analysis

In [23]:
data = pd.read_csv("./data/test.csv")
data

,Request_Date,Flight_Date,Departure_hour,flight_unique_id,route_abb,flight_number,Price,Currency
0,2019-07-28T11:00:00Z,2019-07-29,18,2019-07-29 FR 146,SXF-STN,FR 146,73.43,€
1,2019-07-28T11:00:00Z,2019-07-29,22,2019-07-29 FR 8545,SXF-STN,FR 8545,180.53,€
2,2019-07-28T11:00:00Z,2019-07-30,6,2019-07-30 FR 144,SXF-STN,FR 144,61.19,€
3,2019-07-28T23:00:00Z,2019-07-30,6,2019-07-30 FR 144,SXF-STN,FR 144,73.43,€
4,2019-07-28T11:00:00Z,2019-07-30,10,2019-07-30 FR 8543,SXF-STN,FR 8543,180.53,€
...,...,...,...,...,...,...,...,...
5119,2019-07-31T23:00:00Z,2019-09-10,10,2019-09-10 FR 8543,SXF-STN,FR 8543,35.69,€
5120,2019-08-01T11:00:00Z,2019-09-10,10,2019-09-10 FR 8543,SXF-STN,FR 8543,35.69,€
5121,2019-08-01T23:00:00Z,2019-09-10,10,2019-09-10 FR 8543,SXF-STN,FR 8543,46.83,€
5122,2019-08-02T11:00:00Z,2019-09-10,10,2019-09-10 FR 8543,SXF-STN,FR 8543,46.83,€
5123,2019-08-02T23:00:00Z,2019-09-10,10,2019-09-10 FR 8543,SXF-STN,FR 8543,39.69,€

In [24]:
##date is an object and has string format 
data.dtypes

Request_Date         object
Flight_Date          object
Departure_hour        int64
flight_unique_id     object
route_abb            object
flight_number        object
Price               float64
Currency             object
dtype: object

In [25]:
##compute hour of requested flight date 
## convert returned data from str to int
data.Request_Date.str.slice(-9, -7).astype(int).head()

0    11
1    11
2    11
3    23
4    11
Name: Request_Date, dtype: int32

In [28]:
data['Flight_Date'] = pd.to_datetime(data['Flight_Date'])

In [29]:
data.dtypes

Request_Date                object
Flight_Date         datetime64[ns]
Departure_hour               int64
flight_unique_id            object
route_abb                   object
flight_number               object
Price                      float64
Currency                    object
dtype: object

In [50]:
#data['Flight_Date'] = pd.to_datetime(data.Flight_Date)
data['Flight_Date'] = pd.to_datetime(data['Flight_Date'].data.strftime('%m/%d/%Y'))
data.head()

AttributeError: 'Series' object has no attribute 'data'